canvas {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none
}


body {
  font-family: "Sans-Serif", "Calibri";
  font-size: 14px;
  background: black;
  color: white;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 0% 0% 0% 0%;
  padding: 10px;
}

.button {
  font-family: "Sans-Serif", "Calibri";
  font-size: 14px;
}


#main_vis {
  width: 100%;
  height: 100%;
}


#main_controls {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 220px;
  padding-left: 5px;
  background-color: rgba(0, 0, 0, 0.3); 
}


#nodeInfo {
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 200px;
  padding-top: 50px;
  z-index: 20;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.3);
  visibility: hidden;
}


#fullscreenSwitch {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 20;
  font-size: 18px;
  color: white;
  text-decoration: none;
}

#fullscreenSwitch:hover {
  cursor: pointer;
}

.onoffswitch {
    position: relative; width: 108px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 14px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 74px;
    border: 2px solid #999999; border-radius: 14px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.onoffswitch-inner.force:before {
    content: "Constant";
    padding-left: 11px;
    background-color: #34C251; color: #FFFFFF;
}
.onoffswitch-inner.force:after {
    content: "Force";
    padding-right: 11px;
    background-color: #2B97F0; color: #FFFFFF;
    text-align: right;
}

.onoffswitch-inner.history:before {
    content: "ON";
    padding-left: 11px;
    background-color: #34C251; color: #FFFFFF;
}
.onoffswitch-inner.history:after {
    content: "OFF";
    padding-right: 11px;
    background-color: #cc0000; color: #FFFFFF;
    text-align: right;
}

#nav-legend {
  position: absolute;
  bottom: 12;
  left: 239px;
  width: 280px;
  border-radius: 3px;
  color: #FFFFFF;
  font-size: 18px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.3);
}

.title {
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

#bg-blurry {
  /* color: #111; */
  z-index: -5;
  position: fixed;
  
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
  background:
    /* top, transparent black, faked with gradient */
    linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url(../img/osneb3.jpg) fixed;
    background-size: cover;
    background-position: 50% 50%;
    -webkit-filter: blur(10px);
    filter: blur(10px);
}